<mat-card>
  <mat-card-content>
    <!-- For Star Icon -->
    <app-rating [(ngModel)]="rating.value" [theme]="rating.theme" [title]="rating.title" [color]="rating.color" [type]="rating.type"
      [max]="rating.max" (rateChange)="onFaoRate($event)" [min]="rating.min" [step]="rating.step" [input]="rating.input"></app-rating>
    
    <!-- For Thumbs Up -->
      <app-rating [(ngModel)]="ratingThumsUp.value" [theme]="ratingThumsUp.theme" [title]="ratingThumsUp.title" [color]="ratingThumsUp.color"
      [type]="ratingThumsUp.type" [max]="ratingThumsUp.max" (rateChange)="onThumsUp($event)" [min]="ratingThumsUp.min" [step]="ratingThumsUp.step"
      [input]="ratingThumsUp.input"></app-rating>
   
        <!-- For Thumbs Down -->
      <app-rating [(ngModel)]="ratingThumsDown.value" [theme]="ratingThumsDown.theme" [title]="ratingThumsDown.title" [color]="ratingThumsDown.color"
      [type]="ratingThumsDown.type" [max]="ratingThumsDown.max" (rateChange)="onThumsDown($event)" [min]="ratingThumsDown.min"
      [step]="ratingThumsDown.step" [input]="ratingThumsDown.input"></app-rating>
  
    <!-- For Number Rating -->
      <app-rating [(ngModel)]="ratingNumber.value" [theme]="ratingNumber.theme" [format]="ratingNumber.format" [title]="ratingNumber.title"
      [color]="ratingNumber.color" [type]="ratingNumber.type" [max]="ratingNumber.max" (rateChange)="onRatingNumber($event)"
      [min]="ratingNumber.min" [step]="ratingNumber.step" [input]="ratingNumber.input"></app-rating>
  
      <!-- For Dropdown Rating -->
    <app-rating [(ngModel)]="ratingDrop.value" [theme]="ratingNumber.theme" [title]="ratingDrop.title" [color]="ratingDrop.color"
      [type]="ratingDrop.type" [max]="ratingDrop.max" (rateChange)="onRatingDrop($event)" [min]="ratingDrop.min" [step]="ratingDrop.step"
      [input]="ratingDrop.input"></app-rating>
      
  </mat-card-content>
</mat-card>